<App-background-card [customStyle]="{ width: '100%', marginBottom: '6px' }">
  <div class="profile-section">
    <img [src]="user.avatar" class="avatar" alt="avatar"/>
    <div class="avatar-subtitle">
      <div class="profile-name">{{ user.name }}</div>
      <div class="profile-desc">
        <div class="profile-link">Cat enthusiast & full-time<br>feline cuddler. 🐾</div>
      </div>
    </div>
    <div class="profile-contacts-row">
      <div class="profile-contacts">
        <span class="contacts-label">Contacts</span>
        <span class="contacts-value">{{ user.contactsLabel }}</span>
      </div>
      <div class="contacts-extra">
        🐱 50 fellow cat lovers<br>
        <span>Always ready to share purrfect stories.</span>
      </div>
    </div>
    <div class="profile-views-row">
      <div class="profile-views-link">Profile views</div>
      <span class="views-value">{{ user.profileViews }}</span>
    </div>
    <div class="catnip-section">
      <span class="catnip-label">Access to exclusive catnip tools</span><br>
      <a href="#" class="catnip-link">🎁 Try Meowmium for free</a>
    </div>
    <div class="my-elements">
      <div class="my-elements-link">
        <div class="link-image">
          <img src="/images/elements_label.png" alt="LogoGato" class="logo-container"/>
        </div>
        <div>
          My elements
        </div>
      </div>
    </div>
  </div>
</App-background-card>

<App-background-card [customStyle]="{ width: '100%' }">
  <div class="side-info-content">
    <div class="latest-section">
      <div class="section-title">Latest</div>
      <ul>
        <li *ngFor="let item of user.latest">🐾 {{ item }}</li>
      </ul>
    </div>
    <div class="groups-section">
      <div class="section-title">Groups</div>
      <div class="groups-section">
        <div>🐱 Tabby Lovers United</div>
        <div>🐱 Senior Cats Appreciation Club</div>
        <div>🐱 Adopt Dont Shop Community</div>
      </div>
      <div class="show-more">show more <span class="arrow">▼</span></div>
    </div>
    <div class="events-section">
      <div class="events-row">
        <span>Events</span>
        <span class="add-event">+</span>
      </div>
      <div>Tracked hashtags</div>
    </div>
    <div class="search-section">
      <div href="#" class="search-link">Search for new</div>
    </div>
  </div>
</App-background-card>
