.main-content {
  display: flex;
  flex-direction: row;
  gap: 32px;
  margin: 0 auto;
}

.side-column {
  width: 320px;
  min-width: 260px;
}

.center-column {
  flex: 1;
  min-width: 0;

  .header-seccion {
    justify-self: right;
  }
}

@media (max-width: 900px) {
  .main-content {
    flex-direction: column;
    gap: 0;
  }
  .side-column {
    width: 100%;
    min-width: 0;
    margin-bottom: 24px;
  }
}
