@use 'styles' as *;

mat-card {
  background-color: $base-background-color-white1;
  border-radius: 10px;
  border: 1px solid $base-background-color-white2;
  box-shadow: unset
}

mat-card-content {
  padding: 0 !important;
  height: 100%;
  align-content: center;
}

