<div class="sub-header-container" [ngClass]="customClass" [ngStyle]="customStyle">
  <App-background-card [customStyle]="{ width: '313px', height: '99px' }">
    <app-user-card [title]="13000" [subtitle]="'cat lovers' | capitalize"/>
  </App-background-card>
  <App-background-card [customStyle]="{ width: '313px', height: '99px' }">
    <app-user-card [title]="200" [subtitle]="'New Users today' | capitalize"/>
  </App-background-card>
  <App-background-card [customStyle]="{ width: '313px', height: '99px' }">
    <app-user-card [title]="101" [subtitle]="'Countries' | capitalize"/>
  </App-background-card>
  <App-background-card [customStyle]="{ width: '313px', height: '99px' }">
    <app-user-card [title]="2500000" [subtitle]="'Cat Lovers Publications' | capitalize"/>
  </App-background-card>
</div>
