$base-background-color-white1: #FFFFFF;
$base-background-color-white2: #F9FAFB;


$base-dark-Blue-1: #155883;


$base-light-Blue-1: #D9EBFE;
$base-light-Blue-3: #F3F8FF;


$base-dark-black-1: #000000;
$base-dark-black-2: #2D3748;
$base-dark-black-3: #161722;
$base-dark-black-4: #333333;


$base-light-black-1: #666666;
$base-light-black-2: #989898;
$base-light-black-3: #A0AEC0;
$base-light-black-4: #DDDDDD;
$base-light-black-5: #F1F1F1;


$base-light-green-info: #4FD1C5;

